<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="app-main-container">
    <div class="app-form-container">
      <form (ngSubmit)="submitShoppingList(shoppingList.value)" #shoppingList="ngForm">
        <ion-item>
          <ion-label>Name</ion-label>
          <!-- <input type="text" nam> -->
          <ion-input [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-button type="submit">Agregar</ion-button>
      </form>
    </div>
    <div class="app-list-container">
      <ion-list>
        <ion-list-header>
          Shopping list
        </ion-list-header>
        <ion-item *ngFor="let item of shoppingItems$ | async">
          <ion-label>{{item.name}}</ion-label>
          <ion-button slot="end" (click)="deleteItemList(item.id)">delete</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
